<!DOCTYPE html>
    <body>
            <div id="accessToken"><%=data.access_token%></div>
            <div id="usenum"><%=data.user_seq_no%></div>
    </body>
    <script>
        function CloseWindow(){
                    self.opener = self;
                    window.close();
                }

        opener.document.getElementById("accessToken").value = 
        document.getElementById("accessToken").textContent;
        opener.document.getElementById("useseqnum").value = 
        document.getElementById("usenum").textContent;
        

        CloseWindow();
    </script>
</html>